header {
    padding: 40px;
    margin-top: 20px;
    background-color: var(--color1);
    border-radius: 20px;
}

h1 {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color2);
}

form {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px
}

input {
    width: 250px;
    height: 32px;
    border: 0.1px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 18px;
}

button {
    padding: 12px 18px;
    background-color: var(--color1);
    color: var(--color2);
    border-radius: 15px;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: var(--color3);
}

h3 {
    text-align: center;
    margin-bottom: 8px;
}

.resultado {
    display: block;
    font-size: 36px;
    text-align: center;
}

.recado {
    text-align: center;
    font-size: 16px;
}